[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg

# Others
~$*
*~

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*.DS_Store
wwwroot/DigitalGarden/manifest.txt